* {
    font-family: 'Oswald', sans-serif !important;
}

img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

body {
    background-color: #6A675B;
}

.card {
    border: none;
    background-color: #6A675B;
}

#mainNavbar,
.dropdown-menu {
    background-color: #57463c !important;
}

.dropdown-menu a:hover {
    background-color: #6A675B !important;
}

.p-5 {
    background-color: #0e274b90;
}



img:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgba(43, 46, 65, 0.50);
    cursor: pointer;
}

img:active {
    transform: scale(0.98);
    cursor: pointer;
}

.footer {
    background-color: #20240fb7 !important;
    font-size: 95% !important;
}

#heading,
.footer {
    color: #d4caa19e !important;
    text-shadow: 1px 1px 1px black;
    font-size: 120%;
}

.navbar {
    color: #0b62239e !important;
    font-size: 110%;
}